DAQPYTHON/.idea/DAQPYTHON.iml
DAQPYTHON/.idea/inspectionProfiles/profiles_settings.xml
DAQPYTHON/.idea/material_theme_project_new.xml
DAQPYTHON/.idea/misc.xml
DAQPYTHON/.idea/modules.xml
DAQPYTHON/.idea/vcs.xml
DAQPYTHON/main.py
DAQ_main/dataProssesing/GUI/__pycache__
.vscode/settings.json
